/********navbar****************/

nav {
    z-index: 10000;
}

.navbar {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    border-bottom: solid 2px #F42300;
    padding-bottom: 4px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #F42300;
}
/********index page *********/

#tagline {
    position: absolute;
    z-index: 1000;
    padding: 5em;
    width: 100vw;
}

p {
    font-weight: 400;
}

.orange {
    color: rgb(244, 35, 0);
}

#bg-image {
    background-image: url(img/photo-1431051047106-f1e17d81042f.jpg);
    height: 100vh;
    /***height of image 100%         of viewport height, even when users resize it***/
    
    background-size: cover;
    /***background image always covers the entire viewport, even when user resize it***/
}
/*********work page*************/






/*****contact **********/


#page-contact {

background-color: black;
    
    
    height: 100vh; /******keep contact page always at 100%of viewpoint height ****////
    overflow: hidden;
     
}

#page-contact  #address {

margin-top: 300px;
    
    margin-left:30%;
    
}


#address {

color: white;
    font-weight: lighter;
    font-family: georgia;
    
    
}
/*** footer ****/


footer{

    background-color: #EEEEEE;
    padding: 20% 0;
}

footer h6 { 

    
    font-family: "helvetica-neue;
    
  

}

foot #social-media {
padding: 20px; 0;
     

}



/* portfolio section*/

#work .modal-content {
    
    border: 0;
    border-radius: 0;
    box-shadow: none;
}


#work .modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
}


#work #myCarousel{
    margin: 0;
}

#work #myCarousel img {
    width: 100vw;
}


#work #portfolio>div>div>h5 {

    color: white;
    font-size: 2em;
    opacity: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    
}


#work #portfolio>div>div>img:hover {
    -webkit-filter: blur(5px) opacity(0.3); 
}
    
#work #portfolio>div>div>img:hover {
    transition: 1.0s;
    transition-timing-function: ease-in;
}



#work .bg-orange {
    background-color: #F00D05;
    padding: 15px;
    margin: 30px 0;
    position: relative;
}

#work .bg-green {
    background-color: #3B918C;
    padding: 15px;
    margin: 30px 0;
    position: relative;

}

#work .bg-blue {
    background-color: #346391;
    padding: 15px;
    margin: 30px 0;
    position: relative;

}

#work .bg-blue {
    background-color: #346391;
    padding: 15px;
    margin: 30px 0;
    position: relative;

}

#work .bg-gold {
    background-color: #FFD789;
    padding: 15px;
    margin: 30px 0;
    position: relative;

}

#work .bg-purple {
    background-color: #89EFFF;
    padding: 15px;
    margin: 30px 0;
    position: relative;

}

#work .bg-black {
    background-color: #080300;
    padding: 15px;
    margin: 30px 0;
    position: relative;

}


    
    
#work .bg-black {
    background-color: #1F0A02;
    padding: 15px;
    margin: 30px 0;
}

@media (max-width: 768px) {
    #tagline P {
        display: none;
    }
    #tagline {
        padding: 0;
    }
}